<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conhecimentos - portifolio</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="sessao-header">
       <marquee><h1>Conhecimentos</h1></marquee>
      </div>
      <div class="conhecimentos">
        <div class="conhecimento">
          <div class="conhecimento-header">
            <i class="fab fa-html5"></i>
            <h3>HTML</h3>
          </div>
          <div class="conhecimento-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel obcaecati eaque quos, labore quibusdam incidunt dolores vitae velit voluptates esse omnis enim, dolorem eveniet. Rem ab obcaecati totam ipsum!</p>
          </div>
        </div>
        <div class="conhecimento">
          <div class="conhecimento-header">
            <i class="fab fa-css3-alt"></i>
            <h3>CSS</h3>
          </div>
          <div class="conhecimento-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore pariatur asperiores incidunt quod, sed aspernatur eos commodi ex nostrum consequuntur aut vero cum illum perferendis earum, eveniet hic itaque. Quod.</p>
          </div>
        </div>
        <div class="conhecimento">
          <div class="conhecimento-header">
            <i class="fas fa-pencil-alt"></i>
            <h3>Design</h3>
          </div>
          <div class="conhecimento-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ex eius voluptatem deleniti alias commodi doloremque aspernatur id adipisci quia ea, distinctio maxime, at nemo. Officiis suscipit excepturi quia aut?</p>
          </div>
        </div>
        <div class="conhecimento">
          <div class="conhecimento-header">
            <i class="fab fa-js"></i>
            <h3>Javascript</h3>
          </div>
          <div class="conhecimento-text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quas facere alias, reprehenderit ullam quibusdam itaque dolor nulla odio inventore culpa molestiae porro ea ad illo, quos dicta ratione quisquam?
            </p>
          </div>
        </div>
        <div class="conhecimento">
          <div class="conhecimento-header">
            <i class="fab fa-github"></i>
            <h3>Git e GitHub</h3>
          </div>
          <div class="conhecimento-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet facilis distinctio quaerat eaque ratione, molestias incidunt a iusto, unde quos magnam ullam exercitationem velit alias, fuga in explicabo ex laborum!</p>
          </div>
          <a href="../index.html"><button>voltar a home!</button></a> <br> <br> <br> <br>
        </div>
        <div class="conhecimentos-img-wrapper">
          <img src="img/conhecimentos.jpg" alt="imagem conhecimento" width="1500px" height="500px">
        </div>
      </div>
</body>
</html>