<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>fotos - portifolio</title>
</head>
<body>
    <div class="fotos">
        <marquee><h1>fotos para projetos</h1></marquee>
        <img src="fotos-class/foto1.jpg" alt="foto1" width="500px" height="500px"> <br> <br> <br> <br> <br>
        <img src="fotos-class/foto2.jpg" alt="foto2" width="500px" height="500px"> <br> <br> <br> <br> <br>
        <img src="fotos-class/foto3.jpg" alt="foto3" width="500px" height="500px">
    </div> <br> <br> <br>
    <div class="homes">
        <a href="../index.html"><button>voltar a home!</button></a>
    </div>
</body>
</html>